Makefile
autom4te.cache/
config.log
config.status
doc/Makefile
examples/Makefile
examples/fastwc/Makefile
examples/manual/Makefile
lib/.deps/
libtool
po/Makefile
po/Makefile.in
po/POTFILES
src/.deps/
src/.libs/
src/Makefile
src/config.h
src/config.h.in~
src/flex
src/*.o
src/*.la
src/*.lo
src/stage1flex
src/*.o
src/stage1scan.c
src/stamp-h1
tests/.deps/
tests/Makefile
tools/Makefile
